

.crystal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.crystal{
    border:4px solid white;
    height:150px;
    width:250px;
    padding-left: 5px;
    padding-bottom: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1.5s;
}

.crystal:hover{
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 5px; 
    transition: box-shadow 1s;
}